@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}
.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

.formikSwitch div {
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.requestActions {
  @apply py-1 px-2 hover:bg-primary-400 w-full text-start text-black font-medium font-plex;
}

.custom-dropdown ul {
  @apply bg-gray-50 p-2;
}
.toggle-checkbox {
  appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 9999px;
  background-color: #ddd;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggle-checkbox:checked {
  background-color: #4CAF50; /* Green when checked */
}

.toggle-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%) translateX(20px);
  transition: transform 0.3s ease;
}

.toggle-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}