@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}
.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

.formikSwitch div {
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.requestActions {
  @apply py-1 px-2 hover:bg-primary-400 w-full text-start text-black font-medium font-plex;
}

.custom-dropdown ul {
  @apply bg-gray-50 p-2;
}
